
experiments/Doc/\#IS notes for sw design.lyx\#
*.lyx~
*.bkp
*.dtmp
*.lyx#
experiments/Doc/IS notes for sw design+P-.lyx
experiments/Doc/IS notes for sw design.lyx
experiments/Doc/IS notes for sw design.lyx
experiments/Doc/IS notes for sw design.lyx
experiments/Doc/ARC-AGI1 algorithm - notes+P-.lyx
